* {
  margin: 0px;
  padding: 0px;
  font-family: "Sora", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

.first {
  background-color: #F6F9FE;
}
.first .container {
  padding: 0px 0px 65px 0px;
}
.first .container .banner-one {
  padding: 70px 0px 70px 0px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
.first .container .banner-one .content .inner-content {
  background-color: rgba(17, 118, 198, 0.1);
  width: fit-content;
  border-radius: 30px;
}
.first .container .banner-one .content .inner-content p {
  padding: 15px;
  font-size: 20px;
}
.first .container .banner-one .content .inner-content p span {
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.first .container .banner-one .content h1 {
  font-size: 60px;
  color: #1D1C1C;
  font-weight: 550;
}
.first .container .banner-one .content h1 span {
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.first .container .banner-one .content p {
  color: #7C7C7C;
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0px 20px 0px;
}
.first .container .banner-one .content button {
  font-size: 20px;
  color: #FFFFFF;
  border: none;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
}
.first .container .banner-one .content button i {
  margin-left: 10px;
}
.first .container .banner-one .image {
  position: relative;
}
.first .container .banner-one .image img {
  width: 460px;
  border-radius: 20px;
}
.first .container .banner-one .image img:nth-child(2) {
  position: absolute;
  width: 330;
  top: 120px;
  right: 140px;
}
.first .banner2 {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 20px 0px 20px 0px;
}
.first .banner2 h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 550;
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.first .banner2 p {
  width: 50%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  color: #1D1C1C;
}

@media only screen and (max-width: 1550px) {
  .first .banner2 h1 {
    font-size: 26px;
  }
  .first .banner2 p {
    margin-top: 20px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1440px) {
  .first .banner-one {
    gap: 100px;
  }
  .first .banner-one .content .inner-content p {
    padding: 12px;
    font-size: 14px;
  }
  .first .banner-one .content h1 {
    font-size: 60px;
  }
  .first .banner-one .content button {
    font-size: 16px;
  }
  .first .banner-one .image img {
    width: 440px;
  }
  .first .banner-one .image img:nth-child(2) {
    width: 290;
    top: 138px;
    right: 107px;
  }
  .banner2 h1 {
    font-size: 26px;
  }
  .banner2 p {
    width: 60%;
    margin-top: 20px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1250px) {
  .first .banner-one {
    gap: 100px;
  }
  .first .banner-one .content .inner-content p {
    padding: 12px;
    font-size: 14px;
  }
  .first .banner-one .content h1 {
    font-size: 50px;
  }
  .first .banner-one .content p {
    font-size: 19px;
    margin: 10px 0px 10px 0px;
  }
  .first .banner-one .content button {
    font-size: 16px;
    width: 150px;
    height: 42px;
  }
  .first .banner-one .image img {
    width: 304px;
    border-radius: 10px;
  }
  .first .banner-one .image img:nth-child(2) {
    width: 290;
    top: 98px;
    right: 80px;
  }
  .banner2 h1 {
    font-size: 24px;
  }
  .banner2 p {
    width: 70%;
    margin-top: 18px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 1125px) {
  .first .banner-one {
    gap: 100px;
  }
  .first .banner-one .content .inner-content p {
    padding: 9px;
    font-size: 13px;
  }
  .first .banner-one .content h1 {
    font-size: 40px;
  }
  .first .banner-one .content p {
    font-size: 17px;
    margin: 10px 0px 10px 0px;
  }
  .first .banner-one .content button {
    font-size: 14px;
    width: 137px;
    height: 39px;
    border-radius: 8px;
  }
  .first .banner-one .image img {
    width: 304px;
    border-radius: 10px;
  }
  .first .banner-one .image img:nth-child(2) {
    width: 290;
    top: 98px;
    right: 80px;
  }
  .banner2 h1 {
    font-size: 20px;
  }
  .banner2 p {
    width: 80%;
    margin-top: 16px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 950px) {
  .first .banner-one {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .first .banner-one .content .inner-content p {
    padding: 9px;
    font-size: 13px;
  }
  .first .banner-one .content h1 {
    font-size: 40px;
  }
  .first .banner-one .content p {
    font-size: 17px;
    margin: 10px 0px 10px 0px;
  }
  .first .banner-one .content button {
    font-size: 14px;
    width: 137px;
    height: 39px;
    border-radius: 8px;
  }
  .first .banner-one .image img {
    width: 304px;
    border-radius: 10px;
  }
  .first .banner-one .image img:nth-child(2) {
    width: 290;
    top: 98px;
    right: 80px;
  }
  .banner2 h1 {
    font-size: 16px;
  }
  .banner2 p {
    width: 90%;
    margin-top: 9px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 450px) {
  .first .banner-one {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .first .banner-one .content .inner-content p {
    padding: 9px;
    font-size: 13px;
  }
  .first .banner-one .content h1 {
    font-size: 30px;
  }
  .first .banner-one .content p {
    font-size: 17px;
    margin: 10px 0px 10px 0px;
  }
  .first .banner-one .content button {
    font-size: 14px;
    border: none;
    width: 137px;
    height: 39px;
    border-radius: 8px;
  }
  .first .banner-one .image img {
    width: 304px;
    border-radius: 10px;
  }
  .first .banner-one .image img:nth-child(2) {
    width: 290;
    top: 98px;
    right: 80px;
  }
  .banner2 h1 {
    font-size: 14px;
  }
  .banner2 p {
    width: 100%;
    margin-top: 9px;
    font-size: 10px;
  }
}
header {
  background-color: #F6F9FE;
  position: relative;
}
header.opt-header {
  z-index: 999;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
header.opt-header .background {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header.opt-header .nav-items {
  color: #FFFFFF !important;
}
header.opt-header .nav-items a.button {
  border: 1px solid #FFFFFF !important;
  background-image: none !important;
}
header .navbar {
  display: flex;
  padding: 20px 0px 20px 0px;
  justify-content: space-between;
  align-items: center;
}
header .navbar .logo {
  width: 140px;
}
header .navbar .logo img {
  width: 100%;
}
header .navbar .nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .navbar .nav .nav-items {
  color: #1D1C1C;
}
header .navbar .nav .nav-items a {
  font-size: 18px;
  text-decoration: none;
}
header .navbar .nav .nav-items a.button {
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
  color: #FFFFFF;
}
header .navbar .menu {
  display: none;
}
header .navbar .menu i {
  font-size: 40px;
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1440px) {
  header .navbar .logo img {
    width: 88px;
  }
  header .navbar .nav {
    width: 50%;
  }
  header .navbar .nav .nav-items a {
    font-size: 16px;
  }
  header .navbar .nav button {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1100px) {
  header .navbar .nav {
    width: 55%;
  }
}
@media only screen and (max-width: 950px) {
  header .navbar .nav {
    display: none;
  }
  header .navbar .nav button {
    padding: 8px 15px 8px 15px;
  }
  header .navbar .menu {
    display: contents;
  }
}
@media only screen and (max-width: 550px) {
  header .navbar {
    padding: 10px 0px 10px 0px;
  }
  header .navbar .logo img {
    width: 68px;
  }
  header .navbar .menu {
    display: contents;
  }
  header .navbar .menu i {
    font-size: 35px;
  }
}
.two {
  background-image: url(/img/map-outsourcing.svg);
}
.two .container2-content .container {
  padding: 100px 0px 100px 0px;
  display: flex;
  justify-content: space-between;
}
.two .container2-content .container .flex-item1 {
  width: 50%;
}
.two .container2-content .container .flex-item1 h1 {
  font-size: 50px;
  font-weight: 500;
  color: #1D1C1C;
}
.two .container2-content .container .flex-item1 p {
  line-height: 45px;
  font-size: 22px;
  color: #7C7C7C;
  margin: 45px 0px 45px 0px;
}
.two .container2-content .container .flex-item1 button {
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
}
.two .container2-content .container .flex-item2 {
  width: 30%;
}
.two .container2-content .container .flex-item2 .cost {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 80px;
}
.two .container2-content .container .flex-item2 .cost .cost-img img {
  width: 50px;
}
.two .container2-content .container .flex-item2 .cost .cost-content h1 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
}
.two .container2-content .container .flex-item2 .cost .cost-content p {
  color: #7C7C7C;
}

@media only screen and (max-width: 1550px) {
  .two .container2-content .flex-item1 h1 {
    font-size: 45px;
  }
  .two .container2-content .flex-item1 p {
    line-height: 40px;
  }
  .two .container2-content .flex-item2 .cost {
    gap: 50px;
  }
}
@media only screen and (max-width: 1400px) {
  .two .container2-content .flex-item1 h1 {
    font-size: 40px;
  }
  .two .container2-content .flex-item1 p {
    line-height: 40px;
  }
  .two .container2-content .flex-item2 {
    width: 40%;
  }
  .two .container2-content .flex-item2 .cost {
    gap: 35px;
  }
}
@media only screen and (max-width: 1050px) {
  .two .container2-content .flex-item1 h1 {
    font-size: 30px;
  }
  .two .container2-content .flex-item1 p {
    line-height: 31px;
    font-size: 20px;
    margin: 30px 0px 30px 0px;
  }
  .two .container2-content .flex-item2 {
    width: 40%;
  }
  .two .container2-content .flex-item2 .cost {
    margin-bottom: 26px;
    gap: 26px;
  }
  .two .container2-content .flex-item2 .cost .cost-img img {
    width: 40px;
  }
  .two .container2-content .flex-item2 .cost .cost-content h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 950px) {
  .two .container2-content .container {
    flex-direction: column;
  }
  .two .container2-content .container .flex-item1 {
    width: 100%;
  }
  .two .container2-content .container .flex-item1 h1 {
    font-size: 30px;
  }
  .two .container2-content .container .flex-item1 p {
    line-height: 31px;
    font-size: 20px;
    margin: 30px 0px 30px 0px;
  }
  .two .container2-content .container .flex-item2 {
    width: 100%;
    margin-top: 50px;
  }
  .two .container2-content .container .flex-item2 .cost {
    margin-bottom: 26px;
    gap: 26px;
  }
  .two .container2-content .container .flex-item2 .cost .cost-img img {
    width: 40px;
  }
  .two .container2-content .container .flex-item2 .cost .cost-content h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .two .container2-content .flex-item1 {
    width: 100%;
  }
  .two .container2-content .flex-item1 h1 {
    font-size: 24px;
  }
  .two .container2-content .flex-item1 p {
    line-height: 26px;
    font-size: 18px;
    margin: 30px 0px 30px 0px;
  }
  .two .container2-content .flex-item1 button {
    font-size: 16px;
    padding: 8px 15px 8px 15px;
  }
  .two .container2-content .flex-item2 {
    width: 100%;
    margin-top: 50px;
  }
  .two .container2-content .flex-item2 .cost {
    margin-bottom: 26px;
    gap: 26px;
  }
  .two .container2-content .flex-item2 .cost .cost-img img {
    width: 40px;
  }
  .two .container2-content .flex-item2 .cost .cost-content h1 {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
.about h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #1D1C1C;
}
.about .sub-heading {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #7C7C7C;
}
.about .flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 150px;
}
.about .flex-container .item-content h3 {
  font-size: 24px;
  font-weight: 450;
  margin-bottom: 20px;
}
.about .flex-container .item-content p {
  color: #7C7C7C;
  font-size: 16px;
  line-height: 30px;
}
.about .flex-container .item-content p a {
  color: #1176C6;
}
.about .flex-container .item-img img {
  width: 600px;
  border-radius: 20px;
}
.about .smarter {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 1550px) {
  .about .flex-container {
    gap: 100px;
  }
  .about .flex-container .item-content h3 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .about .flex-container .item-content p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1400px) {
  .about .sub-heading {
    width: 80%;
    font-size: 18px;
  }
  .about .flex-container {
    gap: 100px;
  }
  .about .flex-container .item-content p {
    font-size: 18px;
  }
  .about .flex-container .item-img img {
    width: 520px;
  }
}
@media only screen and (max-width: 1250px) {
  .about .sub-heading {
    width: 80%;
  }
  .about .flex-container {
    gap: 50px;
  }
  .about .flex-container .item-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .about .flex-container .item-content p {
    line-height: 23px;
  }
  .about .flex-container .item-img img {
    width: 420px;
  }
}
@media only screen and (max-width: 950px) {
  .about .sub-heading {
    width: 95%;
  }
  .about .flex-container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 20px;
  }
  .about .flex-container .item-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .about .flex-container .item-content p {
    line-height: 23px;
  }
  .about .flex-container .item-img img {
    width: 470px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 650px) {
  .about .flex-container .item-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .about .flex-container .item-img img {
    width: 400px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .about h1 {
    font-size: 35px;
  }
  .about .sub-heading {
    width: 100%;
    font-size: 16px;
  }
  .about .flex-container {
    margin-top: 50px;
    gap: 20px;
  }
  .about .flex-container .item-content h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .about .flex-container .item-content p {
    font-size: 14px;
    line-height: 23px;
  }
  .about .flex-container .item-img img {
    width: 318px;
    border-radius: 10px;
  }
}
.services {
  margin-top: 100px;
}
.services h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #1D1C1C;
}
.services .sub-heading {
  width: 40%;
  margin: auto;
  font-size: 18px;
  text-align: center;
  color: #7C7C7C;
  margin-top: 20px;
}
.services .flex-services-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}
.services .flex-services-container .flex-item {
  background-color: rgba(17, 118, 198, 0.1);
  padding: 20px;
  border-radius: 20px;
}
.services .flex-services-container .flex-item .img {
  width: 60px;
}
.services .flex-services-container .flex-item .img img {
  width: 100%;
}
.services .flex-services-container .flex-item h2 {
  font-size: 26px;
  font-weight: 450;
  color: #1D1C1C;
  margin: 20px 0px 20px 0px;
}
.services .flex-services-container .flex-item p {
  font-size: 18px;
  color: #7C7C7C;
  line-height: 30px;
}

@media only screen and (max-width: 1550px) {
  .services .sub-heading {
    width: 60%;
  }
}
@media only screen and (max-width: 1400px) {
  .services .sub-heading {
    width: 90%;
  }
  .services .flex-services-container .flex-item .img {
    width: 50px;
  }
  .services .flex-services-container .flex-item h2 {
    font-size: 24px;
  }
  .services .flex-services-container .flex-item p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1250px) {
  .services .flex-services-container .flex-item h2 {
    font-size: 22px;
    margin: 10px 0px 10px 0px;
  }
  .services .flex-services-container .flex-item p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .services .flex-services-container {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 550px) {
  .services .sub-heading {
    width: 100%;
  }
  .services .flex-services-container {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 500px) {
  .services h1 {
    font-size: 35px;
  }
  .services .sub-heading {
    width: 100%;
  }
}
.pricing {
  margin-top: 100px;
}
.pricing h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #1D1C1C;
}
.pricing .sub-heading {
  width: 40%;
  margin: auto;
  font-size: 18px;
  text-align: center;
  color: #7C7C7C;
  margin-top: 20px;
}
.pricing .sub-head {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0px 50px 0px;
}
.pricing .sub-head .sub-head1 h4 {
  font-size: 20px;
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.pricing .sub-head .sub-head1 h4::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
}
.pricing .sub-head .sub-head2 h4 {
  font-size: 20px;
  color: #7C7C7C;
}
.pricing .pricing-flex-container {
  display: flex;
  justify-content: space-between;
}
.pricing .pricing-flex-container .pricing-flex-item13 {
  width: 25%;
  padding: 50px 20px 50px 20px;
  background-color: #F6F9FE;
  border-radius: 20px;
}
.pricing .pricing-flex-container .pricing-flex-item13 h1 {
  color: #1D1C1C;
  font-size: 30px;
  text-align: center;
}
.pricing .pricing-flex-container .pricing-flex-item13 .para {
  display: flex;
  justify-content: center;
}
.pricing .pricing-flex-container .pricing-flex-item13 .para .innerpara {
  width: 80%;
}
.pricing .pricing-flex-container .pricing-flex-item13 .para .innerpara p {
  color: #7C7C7C;
  font-size: 16px;
  text-align: center;
  margin: 50px 0px 20px 0px;
}
.pricing .pricing-flex-container .pricing-flex-item13 h2 {
  margin: 50px 0px 50px 0px;
  color: #1D1C1C;
  font-size: 18px;
  text-align: center;
}
.pricing .pricing-flex-container .pricing-flex-item13 h3 {
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 50px 0px;
}
.pricing .pricing-flex-container .pricing-flex-item13 .list1 {
  margin: 0px 0px 10px 0px;
  display: flex;
}
.pricing .pricing-flex-container .pricing-flex-item13 .list1 .tick {
  margin-right: 20px;
}
.pricing .pricing-flex-container .pricing-flex-item13 .list1 h4 {
  font-size: 16px;
  color: #1D1C1C;
}
.pricing .pricing-flex-container .pricing-flex-item13 .try-now {
  text-align: center;
}
.pricing .pricing-flex-container .pricing-flex-item13 .try-now a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
}
.pricing .pricing-flex-container .pricing-flex-item2 {
  width: 30%;
  padding: 50px 20px 50px 20px;
  background-color: #1176C6;
  border-radius: 20px;
}
.pricing .pricing-flex-container .pricing-flex-item2 h1 {
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}
.pricing .pricing-flex-container .pricing-flex-item2 .para {
  display: flex;
  justify-content: center;
}
.pricing .pricing-flex-container .pricing-flex-item2 .para .innerpara {
  width: 60%;
}
.pricing .pricing-flex-container .pricing-flex-item2 .para .innerpara p {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  margin: 50px 0px 20px 0px;
}
.pricing .pricing-flex-container .pricing-flex-item2 h2 {
  margin: 50px 0px 50px 0px;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  font-weight: 450;
}
.pricing .pricing-flex-container .pricing-flex-item2 h3 {
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 50px 0px;
  color: #FFFFFF;
}
.pricing .pricing-flex-container .pricing-flex-item2 .list1 {
  margin: 0px 0px 10px 0px;
  display: flex;
}
.pricing .pricing-flex-container .pricing-flex-item2 .list1 .tick {
  margin-right: 20px;
}
.pricing .pricing-flex-container .pricing-flex-item2 .list1 h4 {
  font-size: 16px;
  font-weight: 450;
  color: #FFFFFF;
}
.pricing .pricing-flex-container .pricing-flex-item2 .try-now {
  text-align: center;
}
.pricing .pricing-flex-container .pricing-flex-item2 .try-now a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  color: #1176C6;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 1550px) {
  .pricing .sub-heading {
    width: 60%;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 .para .innerpara {
    width: 100%;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 .para .innerpara {
    width: 100%;
  }
}
@media only screen and (max-width: 1250px) {
  .pricing .sub-heading {
    width: 90%;
  }
  .pricing .sub-head {
    width: 25%;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 .para .innerpara {
    width: 100%;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 .para .innerpara {
    width: 100%;
  }
}
@media only screen and (max-width: 1050px) {
  .pricing .sub-head {
    width: 30%;
  }
  .pricing .pricing-flex-container {
    flex-direction: column;
    align-items: center;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 {
    width: 50%;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 {
    width: 60%;
    margin: 50px 0px 50px 0px;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 .para .innerpara {
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .pricing .sub-head {
    width: 45%;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 {
    width: 65%;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 {
    width: 70%;
    margin: 50px 0px 50px 0px;
  }
}
@media only screen and (max-width: 550px) {
  .pricing .sub-head {
    width: 65%;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 .para .innerpara {
    width: 100%;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 .para .innerpara p {
    margin: 25px 0px 20px 0px;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 h2 {
    margin: 25px 0px 25px 0px;
    font-weight: 450;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 .para .innerpara {
    width: 100%;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 .para .innerpara p {
    margin: 25px 0px 20px 0px;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 h2 {
    margin: 25px 0px 25px 0px;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 .list1 {
    margin: 0px 0px 10px 0px;
  }
}
@media only screen and (max-width: 500px) {
  .pricing h1 {
    font-size: 35px;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 h1 {
    font-size: 25px;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 .para .innerpara p {
    margin: 25px 0px 20px 0px;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 h2 {
    margin: 25px 0px 25px 0px;
  }
  .pricing .pricing-flex-container .pricing-flex-item13 .try-now a {
    border-radius: 8px;
    font-size: 14px;
    padding: 8px 15px 8px 15px;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 h1 {
    font-size: 25px;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 .para {
    display: flex;
    justify-content: center;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 .para .innerpara {
    width: 100%;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 .para .innerpara p {
    margin: 25px 0px 20px 0px;
  }
  .pricing .pricing-flex-container .pricing-flex-item2 h2 {
    margin: 25px 0px 25px 0px;
  }
}
.customer {
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
  margin: 100px 0px 100px 0px;
  padding: 10px 0px 100px 0px;
}
.customer h1 {
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 450;
  padding: 50px 0px 50px 0px;
}
.customer .customer-flex-container {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}
.customer .customer-flex-container .customer-flex-item {
  padding: 20px 20px 20px 20px;
  background-color: #FFFFFF;
}
.customer .customer-flex-container .customer-flex-item .flex-inner {
  display: flex;
  align-items: center;
}
.customer .customer-flex-container .customer-flex-item .flex-inner .img {
  margin-right: 20px;
}
.customer .customer-flex-container .customer-flex-item .flex-inner .content h3 {
  font-weight: 450;
}
.customer .customer-flex-container .customer-flex-item p {
  margin-top: 20px;
  color: #7C7C7C;
  font-size: 16px;
  line-height: 26px;
}
.customer .customer-flex-container .flex-item1 {
  border-radius: 0px 20px 20px 0px;
}
.customer .customer-flex-container .flex-item2 {
  border-radius: 20px 20px 20px 20px;
}
.customer .customer-flex-container .flex-item3 {
  border-radius: 20px 0px 0px 20px;
}

@media only screen and (max-width: 1400px) {
  .customer .customer-flex-container {
    gap: 50px;
  }
}
@media only screen and (max-width: 950px) {
  .customer h1 {
    font-size: 30px;
  }
  .customer .customer-flex-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .customer .customer-flex-container .customer-flex-item {
    width: 500px;
  }
  .customer .customer-flex-container .flex-item1 {
    border-radius: 20px 20px 20px 20px;
  }
  .customer .customer-flex-container .flex-item3 {
    border-radius: 20px 20px 20px 20px;
  }
}
@media only screen and (max-width: 650px) {
  .customer .customer-flex-container .customer-flex-item {
    width: 300px;
  }
}
@media only screen and (max-width: 420px) {
  .customer h1 {
    font-size: 25px;
  }
  .customer .customer-flex-container .customer-flex-item {
    width: 250px;
  }
  .customer .customer-flex-container .customer-flex-item p {
    margin-top: 13px;
    line-height: 20px;
  }
}
footer {
  padding: 40px 0px 40px 0px;
  background-color: #1D1C1C;
}
footer .footer-flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer-flex-container .chameleon {
  width: 32%;
}
footer .footer-flex-container .chameleon .chamelon-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-flex-container .chameleon .chamelon-flex .content h4 {
  font-size: 25px;
  color: #FFFFFF;
  font-weight: 450;
}
footer .footer-flex-container .chameleon .chamelon-flex .content p {
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 400;
  margin-top: 5px;
}
footer .footer-flex-container .chameleon p {
  color: #7C7C7C;
  margin: 20px 0px 20px 0px;
  text-align: start;
}
footer .footer-flex-container .chameleon p a {
  color: #1176C6;
}
footer .footer-flex-container .chameleon .icon i {
  font-size: 35px;
  color: #FFFFFF;
  margin-right: 20px;
}
footer .footer-flex-container .quick h3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 450;
  margin-bottom: 40px;
}
footer .footer-flex-container .quick .link {
  margin-bottom: 20px;
}
footer .footer-flex-container .quick .link a {
  text-decoration: none;
  color: #7C7C7C;
}
footer hr {
  border: 0.5px solid #7C7C7C;
  margin: 30px 0px 30px 0px;
}
footer p {
  text-align: center;
  color: #7C7C7C;
}
footer p a {
  text-decoration: none;
  color: #1176C6;
}

@media only screen and (max-width: 1000px) {
  footer .footer-flex-container {
    flex-direction: column;
  }
  footer .footer-flex-container .chameleon {
    width: 100%;
  }
  footer .footer-flex-container .chameleon .chamelon-flex {
    width: 80%;
  }
  footer .footer-flex-container .chameleon .chamelon-flex .img {
    width: 20%;
  }
  footer .footer-flex-container .chameleon .chamelon-flex .img img {
    width: 100%;
  }
  footer .footer-flex-container .quick {
    margin-top: 40px;
  }
  footer .footer-flex-container .quick h3 {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 700px) {
  footer .footer-flex-container .chameleon .chamelon-flex {
    width: 90%;
  }
  footer .footer-flex-container .chameleon .chamelon-flex .content h4 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 600px) {
  footer .footer-flex-container .chameleon .chamelon-flex {
    width: 100%;
  }
  footer .footer-flex-container .chameleon .chamelon-flex .content h4 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 460px) {
  footer .footer-flex-container .chameleon .chamelon-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  footer .footer-flex-container .chameleon .chamelon-flex .img {
    width: 40%;
  }
  footer .footer-flex-container .chameleon .chamelon-flex .img img {
    width: 100%;
  }
}
.have-a-project {
  background-color: #F6F9FE;
}
.have-a-project .flex-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px 60px 0px;
  gap: 50px;
}
.have-a-project .flex-container .content {
  margin-top: 100px;
}
.have-a-project .flex-container .content h1 {
  line-height: 71px;
  font-size: 56px;
  font-weight: 500;
}
.have-a-project .flex-container .content p {
  margin-top: 150px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.have-a-project .flex-container .content p span {
  position: relative;
}
.have-a-project .flex-container .content p span::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
}
.have-a-project .flex-container .form form {
  background-color: #1D1C1C;
  padding: 40px;
  border-radius: 10px;
}
.have-a-project .flex-container .form form h1 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}
.have-a-project .flex-container .form form .checkbox label {
  padding: 5px 10px;
  color: #FFFFFF;
}
.have-a-project .flex-container .form form .checkbox [type=checkbox] {
  opacity: 0;
}
.have-a-project .flex-container .form form .form-inn label {
  color: #FFFFFF;
}
.have-a-project .flex-container .form form .form-inn input {
  background-color: transparent;
  border: none;
  outline: none;
}
.have-a-project .flex-container .form form .submit {
  display: flex;
  justify-content: flex-end;
}
.have-a-project .flex-container .form form .submit button {
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px 20px;
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
  border: none;
  margin-bottom: 30px;
}

.we-are-here .container {
  padding: 100px 0px 100px 0px;
}
.we-are-here h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  margin-left: 150px;
}
.we-are-here .blue-flex-box {
  margin-left: 150px;
  display: flex;
  justify-content: space-between;
}
.we-are-here .blue-flex-box .flex-item {
  flex-basis: calc(50% - 400px);
}
.we-are-here .blue-flex-box .flex-item .blue-box {
  width: 400px;
  margin-top: 50px;
  padding: 20px;
  background-color: #1176C6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.we-are-here .blue-flex-box .flex-item .blue-box .blue-box-content p {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.we-are-here .blue-flex-box .flex-item .blue-box .blue-box-content h3 {
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.we-are-here .blue-flex-box .flex-item .blue-box .blue-box-img img {
  margin-left: 20px;
  width: 60px;
}
.we-are-here .blue-flex-box .blue-flex-item2 {
  margin-top: -80px;
  flex-basis: calc(50% - 40px);
}

@media only screen and (max-width: 1350px) {
  .we-are-here .container {
    padding: 100px 0px 100px 0px;
  }
  .we-are-here .container h1 {
    font-size: 24px;
    margin-left: 130px;
  }
  .we-are-here .container .blue-flex-box {
    margin-left: 130px;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box {
    width: 320px;
    margin-top: 50px;
    padding: 15px;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box .blue-box-content p {
    font-size: 12px;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box .blue-box-content h3 {
    font-size: 18px;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box .blue-box-img img {
    margin-left: 20px;
    width: 40px;
  }
  .we-are-here .container .blue-flex-box .blue-flex-item2 {
    margin-top: -80px;
  }
}
@media only screen and (max-width: 1280px) {
  .have-a-project .flex-container .content {
    margin-top: 100px;
  }
  .have-a-project .flex-container .content h1 {
    line-height: 51px;
    font-size: 52px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 1080px) {
  .have-a-project .flex-container {
    flex-direction: column;
    gap: 50px;
  }
  .have-a-project .flex-container .content {
    margin-top: 0px;
  }
  .have-a-project .flex-container .content h1 {
    line-height: 51px;
    font-size: 52px;
    font-weight: 500;
  }
  .have-a-project .flex-container .content p {
    margin-top: 50px;
  }
  .we-are-here .container {
    padding: 50px 0px 50px 0px;
  }
  .we-are-here .container h1 {
    margin-left: 0px;
    text-align: center;
    font-size: 24px;
  }
  .we-are-here .container .blue-flex-box {
    margin-left: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box {
    width: 320px;
    margin-top: 50px;
    padding: 15px;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box .blue-box-content p {
    font-weight: 400;
    font-size: 12px;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box .blue-box-content h3 {
    font-weight: 400;
    font-size: 18px;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box .blue-box-img img {
    margin-left: 20px;
    width: 40px;
  }
  .we-are-here .container .blue-flex-box .blue-flex-item2 {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 800px) {
  .have-a-project .flex-container {
    flex-direction: column;
    gap: 50px;
  }
  .have-a-project .flex-container .content {
    margin-top: 0px;
  }
  .have-a-project .flex-container .content h1 {
    line-height: 51px;
    font-size: 46px;
  }
  .have-a-project .flex-container .content p {
    font-size: 14px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 560px) {
  .have-a-project .flex-container {
    gap: 30px;
  }
  .have-a-project .flex-container .content h1 {
    line-height: 51px;
    font-size: 36px;
  }
}
@media only screen and (max-width: 460px) {
  .have-a-project .flex-container {
    padding: 30px 0px 30px 0px;
    gap: 30px;
  }
  .have-a-project .flex-container .content h1 {
    line-height: 31px;
    font-size: 32px;
  }
  .we-are-here .container {
    padding: 50px 0px 50px 0px;
  }
  .we-are-here .container h1 {
    margin-left: 0px;
    text-align: center;
    font-size: 22px;
  }
  .we-are-here .container .blue-flex-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box {
    width: 260px;
    margin-top: 50px;
    padding: 10px;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box .blue-box-content p {
    font-size: 12px;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box .blue-box-content h3 {
    font-size: 14px;
  }
  .we-are-here .container .blue-flex-box .flex-item .blue-box .blue-box-img img {
    margin-left: 20px;
    width: 36px;
  }
  .we-are-here .container .blue-flex-box .blue-flex-item2 {
    margin-top: 0px;
  }
}
.pricing-page {
  margin: 0px 0px 400px 0px;
  background-color: #F6F9FE;
}
.pricing-page h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #1D1C1C;
}
.pricing-page .sub-heading {
  width: 40%;
  font-size: 18px;
  text-align: center;
  color: #7C7C7C;
  padding-top: 20px;
}
.pricing-page .sub-head {
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 50px 0px;
}
.pricing-page .sub-head .sub-head1 h4 {
  font-size: 20px;
  background-image: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.pricing-page .sub-head .sub-head1 h4::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
}
.pricing-page .sub-head .sub-head2 h4 {
  font-size: 20px;
  color: #7C7C7C;
}
.pricing-page .pricing-flex-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 100px 0px;
}
.pricing-page .pricing-flex-container .pricing-flex-item13 {
  width: 25%;
  padding: 50px 20px 50px 20px;
  background-color: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
  border-radius: 20px;
}
.pricing-page .pricing-flex-container .pricing-flex-item13 h1 {
  color: #1D1C1C;
  font-size: 30px;
  text-align: center;
}
.pricing-page .pricing-flex-container .pricing-flex-item13 .para {
  display: flex;
  justify-content: center;
}
.pricing-page .pricing-flex-container .pricing-flex-item13 .para .innerpara {
  width: 80%;
}
.pricing-page .pricing-flex-container .pricing-flex-item13 .para .innerpara p {
  color: #7C7C7C;
  font-size: 16px;
  text-align: center;
  margin: 50px 0px 20px 0px;
}
.pricing-page .pricing-flex-container .pricing-flex-item13 h2 {
  margin: 50px 0px 50px 0px;
  color: #1D1C1C;
  font-size: 18px;
  text-align: center;
  font-weight: 450;
}
.pricing-page .pricing-flex-container .pricing-flex-item13 h3 {
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 50px 0px;
}
.pricing-page .pricing-flex-container .pricing-flex-item13 .list1 {
  margin: 0px 0px 10px 0px;
  display: flex;
}
.pricing-page .pricing-flex-container .pricing-flex-item13 .list1 .tick {
  margin-right: 20px;
}
.pricing-page .pricing-flex-container .pricing-flex-item13 .list1 h4 {
  font-size: 16px;
  font-weight: 450;
  color: #1D1C1C;
}
.pricing-page .pricing-flex-container .pricing-flex-item2 {
  width: 30%;
  padding: 50px 20px 50px 20px;
  background-color: #1176C6;
  border-radius: 20px;
}
.pricing-page .pricing-flex-container .pricing-flex-item2 h1 {
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}
.pricing-page .pricing-flex-container .pricing-flex-item2 .para {
  display: flex;
  justify-content: center;
}
.pricing-page .pricing-flex-container .pricing-flex-item2 .para .innerpara {
  width: 60%;
}
.pricing-page .pricing-flex-container .pricing-flex-item2 .para .innerpara p {
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  margin: 50px 0px 20px 0px;
}
.pricing-page .pricing-flex-container .pricing-flex-item2 h2 {
  margin: 50px 0px 50px 0px;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  font-weight: 450;
}
.pricing-page .pricing-flex-container .pricing-flex-item2 h3 {
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 50px 0px;
  color: #FFFFFF;
}
.pricing-page .pricing-flex-container .pricing-flex-item2 .list1 {
  margin: 0px 0px 10px 0px;
  display: flex;
}
.pricing-page .pricing-flex-container .pricing-flex-item2 .list1 .tick {
  margin-right: 20px;
}
.pricing-page .pricing-flex-container .pricing-flex-item2 .list1 h4 {
  font-size: 16px;
  font-weight: 450;
  color: #FFFFFF;
}

@media only screen and (max-width: 1550px) {
  .pricing-page .sub-heading {
    width: 60%;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item13 .para .innerpara {
    width: 100%;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item2 .para .innerpara {
    width: 100%;
  }
}
@media only screen and (max-width: 1250px) {
  .pricing-page .sub-heading {
    width: 90%;
  }
  .pricing-page .sub-head {
    width: 25%;
  }
}
@media only screen and (max-width: 1050px) {
  .pricing-page .sub-head {
    width: 30%;
  }
  .pricing-page .pricing-flex-container {
    flex-direction: column;
    align-items: center;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item13 {
    width: 50%;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item2 {
    width: 60%;
    margin: 50px 0px 50px 0px;
  }
}
@media only screen and (max-width: 850px) {
  .pricing-page .sub-head {
    width: 45%;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item13 {
    width: 65%;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item2 {
    width: 70%;
  }
}
@media only screen and (max-width: 550px) {
  .pricing-page .sub-head {
    width: 65%;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item13 .para .innerpara p {
    margin: 25px 0px 20px 0px;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item13 h2 {
    margin: 25px 0px 25px 0px;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item2 .para .innerpara p {
    margin: 25px 0px 20px 0px;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item2 h2 {
    margin: 25px 0px 25px 0px;
  }
}
@media only screen and (max-width: 500px) {
  .pricing-page h1 {
    font-size: 35px;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item13 h1 {
    font-size: 25px;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item13 .para .innerpara p {
    margin: 25px 0px 20px 0px;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item13 h2 {
    margin: 25px 0px 25px 0px;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item13 .try-now a {
    border-radius: 8px;
    font-size: 14px;
    padding: 8px 15px 8px 15px;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item2 h1 {
    font-size: 25px;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item2 .para {
    display: flex;
    justify-content: center;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item2 .para .innerpara {
    width: 100%;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item2 .para .innerpara p {
    margin: 25px 0px 20px 0px;
  }
  .pricing-page .pricing-flex-container .pricing-flex-item2 h2 {
    margin: 25px 0px 25px 0px;
  }
}
.our-stories {
  background-color: #F6F9FE;
  padding: 100px 0px 200px 0px;
}
.our-stories .flex-story-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.our-stories .flex-story-container .item-story-left .heading-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}
.our-stories .flex-story-container .item-story-left .heading-flex h1 {
  font-weight: 500;
  font-size: 56px;
  line-height: 71px;
  color: #1D1C1C;
}
.our-stories .flex-story-container .item-story-left .heading-flex img {
  width: 80px;
}
.our-stories .flex-story-container .item-story-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1D1C1C;
  margin-top: 300px;
}
.our-stories .flex-story-container .item-story-left p span {
  position: relative;
}
.our-stories .flex-story-container .item-story-left p span::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
}
.our-stories .flex-story-container .item-story-right {
  width: 588px;
}
.our-stories .flex-story-container .item-story-right h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #1D1C1C;
}
.our-stories .flex-story-container .item-story-right p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #1D1C1C;
  margin: 50px 0px 50px 0px;
}
.our-stories .flex-story-container .item-story-right .founder-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}
.our-stories .flex-story-container .item-story-right .founder-flex img {
  width: 60px;
}
.our-stories .flex-story-container .item-story-right .founder-flex .content h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.our-stories .flex-story-container .item-story-right .founder-flex .content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #7C7C7C;
  margin: 0px;
}

.double-img .flex-image-container {
  padding: 50px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.double-img .flex-image-container .image-item {
  flex-basis: calc(50% - 40px);
}
.double-img .flex-image-container .image-item img {
  width: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 1400px) {
  .our-stories .flex-story-container .item-story-left .heading-flex {
    gap: 10px;
  }
  .our-stories .flex-story-container .item-story-right {
    width: 588px;
  }
}
@media only screen and (max-width: 1270px) {
  .our-stories .flex-story-container .item-story-left .heading-flex {
    gap: 10px;
  }
  .our-stories .flex-story-container .item-story-left .heading-flex h1 {
    font-size: 42px;
  }
  .our-stories .flex-story-container .item-story-left .heading-flex img {
    width: 60px;
  }
  .double-img .flex-image-container img {
    width: 400px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 1080px) {
  .our-stories .container {
    padding: 50px 0px 100px 0px;
  }
  .our-stories .container .flex-story-container {
    flex-direction: column;
    align-items: center;
  }
  .our-stories .container .flex-story-container .item-story-left .heading-flex {
    justify-content: center;
  }
  .our-stories .container .flex-story-container .item-story-left .heading-flex h1 {
    font-size: 42px;
  }
  .our-stories .container .flex-story-container .item-story-left .heading-flex img {
    width: 60px;
  }
  .our-stories .container .flex-story-container .item-story-left p {
    text-align: center;
    margin-top: 10px;
  }
  .our-stories .container .flex-story-container .item-story-right {
    width: 100%;
  }
  .our-stories .container .flex-story-container .item-story-right h2 {
    text-align: center;
    font-size: 22px;
  }
  .our-stories .container .flex-story-container .item-story-right p {
    text-align: center;
    font-size: 16px;
    margin: 30px 0px 30px 0px;
  }
  .our-stories .container .flex-story-container .item-story-right .founder-flex {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .our-stories .container .flex-story-container .item-story-right .founder-flex img {
    width: 60px;
  }
  .our-stories .container .flex-story-container .item-story-right .founder-flex .content h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .our-stories .container .flex-story-container .item-story-right .founder-flex .content p {
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
  }
  .double-img .flex-image-container {
    flex-direction: column;
    align-items: center;
  }
  .double-img .flex-image-container img {
    width: 500px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 650px) {
  .our-stories .container {
    padding: 50px 0px 70px 0px;
  }
  .our-stories .container .flex-story-container .item-story-left .heading-flex h1 {
    font-size: 32px;
  }
  .our-stories .container .flex-story-container .item-story-left .heading-flex img {
    width: 50px;
  }
  .our-stories .container .flex-story-container .item-story-left p {
    margin-top: 10px;
  }
  .our-stories .container .flex-story-container .item-story-right {
    width: 100%;
  }
  .our-stories .container .flex-story-container .item-story-right h2 {
    font-size: 20px;
    line-height: 25px;
  }
  .our-stories .container .flex-story-container .item-story-right p {
    font-size: 14px;
    margin: 20px 0px 20px 0px;
    line-height: 20px;
  }
  .our-stories .container .flex-story-container .item-story-right .founder-flex {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .our-stories .container .flex-story-container .item-story-right .founder-flex img {
    width: 40px;
  }
  .our-stories .container .flex-story-container .item-story-right .founder-flex .content h3 {
    font-size: 14px;
    line-height: 20px;
  }
  .our-stories .container .flex-story-container .item-story-right .founder-flex .content p {
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
  }
  .double-img .flex-image-container {
    flex-direction: column;
    align-items: center;
  }
  .double-img .flex-image-container img {
    width: 300px;
    border-radius: 20px;
  }
}
.breadcrumb {
  z-index: 9;
  width: 100%;
}
.breadcrumb .content {
  padding-top: 140px;
  padding-bottom: 80px;
}
.breadcrumb .content h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.breadcrumb .content p {
  width: 30%;
  margin: auto;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
}

@media only screen and (max-width: 1400px) {
  .breadcrumb .content {
    padding-top: 140px;
    padding-bottom: 80px;
  }
  .breadcrumb .content p {
    width: 40%;
  }
}
@media only screen and (max-width: 1100px) {
  .breadcrumb .content {
    padding-top: 140px;
    padding-bottom: 80px;
  }
  .breadcrumb .content p {
    width: 50%;
  }
}
@media only screen and (max-width: 950px) {
  .breadcrumb .content {
    padding-top: 140px;
    padding-bottom: 80px;
  }
  .breadcrumb .content h1 {
    font-size: 30px;
  }
  .breadcrumb .content p {
    font-size: 14px;
    width: 60%;
  }
}
@media only screen and (max-width: 460px) {
  .breadcrumb .content h1 {
    font-size: 26px;
  }
  .breadcrumb .content p {
    font-size: 14px;
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
