.about {
    h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        color: $primaryColor;
    }
    .sub-heading {
        width: 60%;
        margin: auto;
        margin-top: 20px;
        font-size: 18px;
        text-align: center;
        color: $secondaryColor;
    }
    .flex-container {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        gap: 150px;
        .item-content {
            h3 {
                font-size: 24px;
                font-weight: 450;
                margin-bottom: 20px;
            }
            p {
                color: $secondaryColor;
                font-size: 16px;
                line-height: 30px;
                a {
                    color: $linkColor;
                }
            }
        }
        .item-img {
            img {
                width: 600px;
                border-radius: 20px;
            }
        }
    }
    .smarter {
        flex-direction: row-reverse;
    }
}

// ---for screen size 1550-------
@media only screen and (max-width:1550px) {
    .about {
        .flex-container {
            gap: 100px;
            .item-content {
                h3 {
                    font-size: 26px;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

// ---for screen size 1400-------
@media only screen and (max-width:1400px) {
    .about {
        .sub-heading {
            width: 80%;
            font-size: 18px;
        }
        .flex-container {
            gap: 100px;
            .item-content {
                p {
                    font-size: 18px;
                }
            }
            .item-img {
                img {
                    width: 520px;
                }
            }
        }
    }
}

// ---for screen size 1250-------
@media only screen and (max-width:1250px) {
    .about {
        .sub-heading {
            width: 80%;
        }
        .flex-container {
            gap: 50px;
            .item-content {
                h3 {
                    font-size: 22px;
                    margin-bottom: 15px;
                }
                p {
                    line-height: 23px;
                }
            }
            .item-img {
                img {
                    width: 420px;
                }
            }
        }
    }
}

// ---for screen size 950-------
@media only screen and (max-width:950px) {
    .about {
        .sub-heading {
            width: 95%;
        }
        .flex-container {
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
            gap: 20px;
            .item-content {
                h3 {
                    font-size: 22px;
                    margin-bottom: 15px;
                }
                p {
                    line-height: 23px;
                }
            }
            .item-img {
                img {
                    width: 470px;
                    border-radius: 10px;
                }
            }
        }
    }
}

// ---for screen size 650-------
@media only screen and (max-width:650px) {
    .about {
        .flex-container {
            .item-content {
                h3 {
                    font-size: 22px;
                    margin-bottom: 15px;
                }
            }
            .item-img {
                img {
                    width: 400px;
                    border-radius: 10px;
                }
            }
        }
    }
}

// ---for screen size 500-------
@media only screen and (max-width:500px) {
    .about {
        h1 {
            font-size: 35px;
        }
        .sub-heading {
            width: 100%;
            font-size: 16px;
        }
        .flex-container {
            margin-top: 50px;
            gap: 20px;
            .item-content {
                h3 {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 14px;
                    line-height: 23px;
                }
            }
            .item-img {
                img {
                    width: 318px;
                    border-radius: 10px;
                }
            }
        }
    }
}