    // ---------breadcrumb-----------------
    .breadcrumb {
        z-index: 9;
        width: 100%;
        .content {
            padding-top: 140px;
            padding-bottom: 80px;
            h1 {
                color: $whiteColor;
                text-align: center;
                font-size: 40px;
                font-weight: 400;
            }
            p {
                width: 30%;
                margin: auto;
                color: $whiteColor;
                text-align: center;
                font-size: 16px;
            }
        }
    }
    
    // ---for screen size 1400-------
    @media only screen and (max-width:1400px) {
        // ---------breadcrumb-----------------
        .breadcrumb {
            .content {
                padding-top: 140px;
                padding-bottom: 80px;
                p {
                    width: 40%;
                }
            }
        }
    }
    
    // ---for screen size 1100-------
    @media only screen and (max-width:1100px) {
        // ---------breadcrumb-----------------
        .breadcrumb {
            .content {
                padding-top: 140px;
                padding-bottom: 80px;
                p {
                    width: 50%;
                }
            }
        }
    }
    
    // ---for screen size 950-------
    @media only screen and (max-width:950px) {
        // ---------breadcrumb-----------------
        .breadcrumb {
            .content {
                padding-top: 140px;
                padding-bottom: 80px;
                h1 {
                    font-size: 30px;
                }
                p {
                    font-size: 14px;
                    width: 60%;
                }
            }
        }
    }
    
    // ---for screen size 460-------
    @media only screen and (max-width:460px) {
        // ---------breadcrumb-----------------
        .breadcrumb {
            .content {
                h1 {
                    font-size: 26px;
                }
                p {
                    font-size: 14px;
                    width: 90%;
                }
            }
        }
    }