// --------have a project--------------
.have-a-project {
    background-color: $bgColor;
    .flex-container {
        display: flex;
        justify-content: space-between;
        padding: 60px 0px 60px 0px;
        gap: 50px;
        .content {
            margin-top: 100px;
            h1 {
                line-height: 71px;
                font-size: 56px;
                font-weight: 500;
            }
            p {
                margin-top: 150px;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                span {
                    position: relative;
                }
                span::before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    left: 0;
                    height: 2px;
                    border-radius: 2px;
                    background: $grediantColor;
                }
            }
        }
        .form {
            form {
                // width: 588px;
                background-color: $primaryColor;
                padding: 40px;
                border-radius: 10px;
                h1 {
                    color: $whiteColor;
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 40px;
                }
                .checkbox {
                    label {
                        padding: 5px 10px;
                        color: $whiteColor;
                    }
                    [type="checkbox"] {
                        opacity: 0;
                    }
                    input {
                        // width: 100px;
                    }
                }
                .form-inn {
                    label {
                        color: $whiteColor;
                    }
                    input {
                        background-color: transparent;
                        border: none;
                        outline: none;
                    }
                }
                .submit {
                    display: flex;
                    justify-content: flex-end;
                    button {
                        font-size: 16px;
                        color: $whiteColor;
                        padding: 10px 20px;
                        background-image: $grediantColor;
                        border: none;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

// -----we-are-here-----
.we-are-here {
    .container {
        padding: 100px 0px 100px 0px;
    }
    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        margin-left: 150px;
    }
    .blue-flex-box {
        margin-left: 150px;
        display: flex;
        justify-content: space-between;
        .flex-item {
            flex-basis: calc(100% / 2 - 400px);
            .blue-box {
                width: 400px;
                margin-top: 50px;
                padding: 20px;
                background-color: $linkColor;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .blue-box-content {
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        color: $whiteColor;
                    }
                    h3 {
                        font-weight: 400;
                        font-size: 22px;
                        color: $whiteColor;
                    }
                }
                .blue-box-img {
                    img {
                        margin-left: 20px;
                        width: 60px;
                    }
                }
            }
        }
        .blue-flex-item2 {
            margin-top: -80px;
            flex-basis: calc(100% / 2 - 40px);
        }
    }
}

// ----for screen 1350 px-------------
@media only screen and (max-width:1350px) {
    // -----we-are-here for you-----
    .we-are-here {
        .container {
            padding: 100px 0px 100px 0px;
            h1 {
                font-size: 24px;
                margin-left: 130px;
            }
            .blue-flex-box {
                margin-left: 130px;
                .flex-item {
                    .blue-box {
                        width: 320px;
                        margin-top: 50px;
                        padding: 15px;
                        .blue-box-content {
                            p {
                                font-size: 12px;
                            }
                            h3 {
                                font-size: 18px;
                            }
                        }
                        .blue-box-img {
                            img {
                                margin-left: 20px;
                                width: 40px;
                            }
                        }
                    }
                }
                .blue-flex-item2 {
                    margin-top: -80px;
                }
            }
        }
    }
}

// ----for screen size 1280----------------
@media only screen and (max-width:1280px) {
    // / --------have a project--------------
    .have-a-project {
        .flex-container {
            .content {
                margin-top: 100px;
                h1 {
                    line-height: 51px;
                    font-size: 52px;
                    font-weight: 500;
                }
            }
        }
    }
}

// ----for screen 1080 px-------------
@media only screen and (max-width:1080px) {
    // / --------have a project--------------
    .have-a-project {
        .flex-container {
            flex-direction: column;
            gap: 50px;
            .content {
                margin-top: 0px;
                h1 {
                    line-height: 51px;
                    font-size: 52px;
                    font-weight: 500;
                }
                p {
                    margin-top: 50px;
                }
            }
        }
    }
    // -----we-are-here for you-----
    .we-are-here {
        .container {
            padding: 50px 0px 50px 0px;
            h1 {
                margin-left: 0px;
                text-align: center;
                font-size: 24px;
            }
            .blue-flex-box {
                margin-left: 0px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .flex-item {
                    .blue-box {
                        width: 320px;
                        margin-top: 50px;
                        padding: 15px;
                        .blue-box-content {
                            p {
                                font-weight: 400;
                                font-size: 12px;
                            }
                            h3 {
                                font-weight: 400;
                                font-size: 18px;
                            }
                        }
                        .blue-box-img {
                            img {
                                margin-left: 20px;
                                width: 40px;
                            }
                        }
                    }
                }
                .blue-flex-item2 {
                    margin-top: 0px;
                }
            }
        }
    }
}

// ----for screen 800 px-------------
@media only screen and (max-width:800px) {
    // / --------have a project--------------
    .have-a-project {
        .flex-container {
            flex-direction: column;
            gap: 50px;
            .content {
                margin-top: 0px;
                h1 {
                    line-height: 51px;
                    font-size: 46px;
                }
                p {
                    font-size: 14px;
                    margin-top: 30px;
                }
            }
        }
    }
}

// ----for screen 560 px-------------
@media only screen and (max-width:560px) {
    // / --------have a project--------------
    .have-a-project {
        .flex-container {
            gap: 30px;
            .content {
                h1 {
                    line-height: 51px;
                    font-size: 36px;
                }
            }
        }
    }
}

// ----for screen 460 px-------------
@media only screen and (max-width:460px) {
    .have-a-project {
        .flex-container {
            padding: 30px 0px 30px 0px;
            gap: 30px;
            .content {
                h1 {
                    line-height: 31px;
                    font-size: 32px;
                }
            }
        }
    }
    .we-are-here {
        .container {
            padding: 50px 0px 50px 0px;
            h1 {
                margin-left: 0px;
                text-align: center;
                font-size: 22px;
            }
            .blue-flex-box {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .flex-item {
                    .blue-box {
                        width: 260px;
                        margin-top: 50px;
                        padding: 10px;
                        .blue-box-content {
                            p {
                                font-size: 12px;
                            }
                            h3 {
                                font-size: 14px;
                            }
                        }
                        .blue-box-img {
                            img {
                                margin-left: 20px;
                                width: 36px;
                            }
                        }
                    }
                }
                .blue-flex-item2 {
                    margin-top: 0px;
                }
            }
        }
    }
}