.customer {
    background-image: $grediantColor;
    margin: 100px 0px 100px 0px;
    padding: 10px 0px 100px 0px;
    h1 {
        font-size: 40px;
        text-align: center;
        color: $whiteColor;
        font-weight: 450;
        padding: 50px 0px 50px 0px;
    }
    .customer-flex-container {
        display: flex;
        justify-content: space-between;
        gap: 150px;
        .customer-flex-item {
            padding: 20px 20px 20px 20px;
            background-color: $whiteColor;
            .flex-inner {
                display: flex;
                align-items: center;
                .img {
                    margin-right: 20px;
                    img {}
                }
                .content {
                    h3 {
                        font-weight: 450;
                    }
                    .star {
                        img {}
                    }
                }
            }
            p {
                margin-top: 20px;
                color: $secondaryColor;
                font-size: 16px;
                line-height: 26px;
            }
        }
        .flex-item1 {
            border-radius: 0px 20px 20px 0px;
        }
        .flex-item2 {
            border-radius: 20px 20px 20px 20px;
        }
        .flex-item3 {
            border-radius: 20px 0px 0px 20px;
        }
    }
}

// ---for screen size 1400-------
@media only screen and (max-width:1400px) {
    .customer {
        .customer-flex-container {
            gap: 50px;
        }
    }
}

// ---for screen size 950-------
@media only screen and (max-width:950px) {
    .customer {
        h1 {
            font-size: 30px;
        }
        .customer-flex-container {
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .customer-flex-item {
                width: 500px;
            }
            .flex-item1 {
                border-radius: 20px 20px 20px 20px;
            }
            .flex-item3 {
                border-radius: 20px 20px 20px 20px;
            }
        }
    }
}

// ---for screen size 650-------
@media only screen and (max-width:650px) {
    .customer {
        .customer-flex-container {
            .customer-flex-item {
                width: 300px;
            }
        }
    }
}

// ---for screen size 420-------
@media only screen and (max-width:420px) {
    .customer {
        h1 {
            font-size: 25px;
        }
        .customer-flex-container {
            .customer-flex-item {
                width: 250px;
                p {
                    margin-top: 13px;
                    line-height: 20px;
                }
            }
        }
    }
}