.first {
    background-color: $bgColor;
    .container {
        padding: 0px 0px 65px 0px;
        .banner-one {
            padding: 70px 0px 70px 0px;
            display: flex;
            justify-content: space-between;
            gap: 200px;
            .content {
                .inner-content {
                    background-color: rgba(17, 118, 198, 0.1);
                    width: fit-content;
                    border-radius: 30px;
                    p {
                        padding: 15px;
                        font-size: 20px;
                        span {
                            background-image: $grediantColor;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
                h1 {
                    font-size: 60px;
                    color: $primaryColor;
                    font-weight: 550;
                    span {
                        background-image: $grediantColor;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                p {
                    color: $secondaryColor;
                    font-size: 24px;
                    font-weight: 400;
                    margin: 20px 0px 20px 0px;
                }
                button {
                    font-size: 20px;
                    color: $whiteColor;
                    border: none;
                    width: 170px;
                    height: 50px;
                    border-radius: 10px;
                    background-image: $grediantColor;
                    i {
                        margin-left: 10px;
                    }
                }
            }
            .image {
                position: relative;
                img {
                    width: 460px;
                    border-radius: 20px;
                }
                img:nth-child(2) {
                    position: absolute;
                    width: 330;
                    top: 120px;
                    right: 140px;
                }
            }
        }
    }
    .banner2 {
        background-color: $whiteColor;
        border-radius: 15px;
        padding: 20px 0px 20px 0px;
        h1 {
            font-size: 30px;
            text-align: center;
            font-weight: 550;
            background-image: $grediantColor;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p {
            width: 50%;
            margin: auto;
            margin-top: 40px;
            text-align: center;
            font-size: 20px;
            color: $primaryColor;
        }
    }
}

// ---for screen size 1550-------
@media only screen and (max-width:1550px) {
    .first {
        .banner2 {
            h1 {
                font-size: 26px;
            }
            p {
                margin-top: 20px;
                font-size: 18px;
            }
        }
    }
}

// ---for screen size 1400-------
@media only screen and (max-width:1440px) {
    .first {
        .banner-one {
            gap: 100px;
            .content {
                .inner-content {
                    p {
                        padding: 12px;
                        font-size: 14px;
                    }
                }
                h1 {
                    font-size: 60px;
                }
                button {
                    font-size: 16px;
                }
            }
            .image {
                img {
                    width: 440px;
                }
                img:nth-child(2) {
                    width: 290;
                    top: 138px;
                    right: 107px;
                }
            }
        }
    }
    .banner2 {
        h1 {
            font-size: 26px;
        }
        p {
            width: 60%;
            margin-top: 20px;
            font-size: 18px;
        }
    }
}

// ---for screen size 1250-------
@media only screen and (max-width:1250px) {
    .first {
        .banner-one {
            gap: 100px;
            .content {
                .inner-content {
                    p {
                        padding: 12px;
                        font-size: 14px;
                    }
                }
                h1 {
                    font-size: 50px;
                }
                p {
                    font-size: 19px;
                    margin: 10px 0px 10px 0px;
                }
                button {
                    font-size: 16px;
                    width: 150px;
                    height: 42px;
                }
            }
            .image {
                img {
                    width: 304px;
                    border-radius: 10px;
                }
                img:nth-child(2) {
                    width: 290;
                    top: 98px;
                    right: 80px;
                }
            }
        }
    }
    .banner2 {
        h1 {
            font-size: 24px;
        }
        p {
            width: 70%;
            margin-top: 18px;
            font-size: 16px;
        }
    }
}

// ---for screen size 1125-------
@media only screen and (max-width:1125px) {
    .first {
        .banner-one {
            gap: 100px;
            .content {
                .inner-content {
                    p {
                        padding: 9px;
                        font-size: 13px;
                    }
                }
                h1 {
                    font-size: 40px;
                }
                p {
                    font-size: 17px;
                    margin: 10px 0px 10px 0px;
                }
                button {
                    font-size: 14px;
                    width: 137px;
                    height: 39px;
                    border-radius: 8px;
                }
            }
            .image {
                img {
                    width: 304px;
                    border-radius: 10px;
                }
                img:nth-child(2) {
                    width: 290;
                    top: 98px;
                    right: 80px;
                }
            }
        }
    }
    .banner2 {
        h1 {
            font-size: 20px;
        }
        p {
            width: 80%;
            margin-top: 16px;
            font-size: 14px;
        }
    }
}

// ---for screen size 950-------
@media only screen and (max-width:950px) {
    .first {
        .banner-one {
            flex-direction: column;
            align-items: center;
            gap: 50px;
            .content {
                .inner-content {
                    p {
                        padding: 9px;
                        font-size: 13px;
                    }
                }
                h1 {
                    font-size: 40px;
                }
                p {
                    font-size: 17px;
                    margin: 10px 0px 10px 0px;
                }
                button {
                    font-size: 14px;
                    width: 137px;
                    height: 39px;
                    border-radius: 8px;
                }
            }
            .image {
                img {
                    width: 304px;
                    border-radius: 10px;
                }
                img:nth-child(2) {
                    width: 290;
                    top: 98px;
                    right: 80px;
                }
            }
        }
    }
    .banner2 {
        h1 {
            font-size: 16px;
        }
        p {
            width: 90%;
            margin-top: 9px;
            font-size: 12px;
        }
    }
}

// ---for screen size 450-------
@media only screen and (max-width:450px) {
    .first {
        .banner-one {
            flex-direction: column;
            align-items: center;
            gap: 50px;
            .content {
                .inner-content {
                    p {
                        padding: 9px;
                        font-size: 13px;
                    }
                }
                h1 {
                    font-size: 30px;
                }
                p {
                    font-size: 17px;
                    margin: 10px 0px 10px 0px;
                }
                button {
                    font-size: 14px;
                    border: none;
                    width: 137px;
                    height: 39px;
                    border-radius: 8px;
                }
            }
            .image {
                img {
                    width: 304px;
                    border-radius: 10px;
                }
                img:nth-child(2) {
                    width: 290;
                    top: 98px;
                    right: 80px;
                }
            }
        }
    }
    .banner2 {
        h1 {
            font-size: 14px;
        }
        p {
            width: 100%;
            margin-top: 9px;
            font-size: 10px;
        }
    }
}