// --------footer--------
footer {
    padding: 40px 0px 40px 0px;
    background-color: $primaryColor;
    .footer-flex-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .chameleon {
            width: 32%;
            .chamelon-flex {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .img {
                    img {}
                }
                .content {
                    h4 {
                        font-size: 25px;
                        color: $whiteColor;
                        font-weight: 450;
                    }
                    p {
                        font-size: 13px;
                        color: $whiteColor;
                        font-weight: 400;
                        margin-top: 5px;
                    }
                }
            }
            p {
                color: $secondaryColor;
                margin: 20px 0px 20px 0px;
                text-align: start;
                a {
                    color: $linkColor;
                }
            }
            .icon {
                i {
                    font-size: 35px;
                    color: $whiteColor;
                    margin-right: 20px;
                }
            }
        }
        .quick {
            h3 {
                color: $whiteColor;
                font-size: 22px;
                font-weight: 450;
                margin-bottom: 40px;
            }
            .link {
                margin-bottom: 20px;
                a {
                    text-decoration: none;
                    color: $secondaryColor;
                }
            }
        }
    }
    hr {
        border: 0.5px solid $secondaryColor;
        margin: 30px 0px 30px 0px;
    }
    p {
        text-align: center;
        color: $secondaryColor;
        a {
            text-decoration: none;
            color: $linkColor;
        }
    }
}

// ---for screen size 1000-------
@media only screen and (max-width:1000px) {
    footer {
        .footer-flex-container {
            flex-direction: column;
            .chameleon {
                width: 100%;
                .chamelon-flex {
                    width: 80%;
                    .img {
                        width: 20%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .quick {
                margin-top: 40px;
                h3 {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// ---for screen size 700-------
@media only screen and (max-width:700px) {
    footer {
        .footer-flex-container {
            .chameleon {
                .chamelon-flex {
                    width: 90%;
                    .content {
                        h4 {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}

// ---for screen size 600-------
@media only screen and (max-width:600px) {
    footer {
        .footer-flex-container {
            .chameleon {
                .chamelon-flex {
                    width: 100%;
                    .content {
                        h4 {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}

// ---for screen size 460-------
@media only screen and (max-width:460px) {
    footer {
        .footer-flex-container {
            .chameleon {
                .chamelon-flex {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    .img {
                        width: 40%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}