header {
    background-color: $bgColor;
    // display: flex;
    // justify-content: center;
    position: relative;
    &.opt-header {
        z-index: 999;
        width: 100%;
        flex-direction: column;
        align-items: center;
        .background {
            z-index: -1;
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .nav-items {
            color: $whiteColor !important;
            a {
                &.button {
                    border: 1px solid $whiteColor !important;
                    background-image: none !important;
                }
            }
        }
    }
    .navbar {
        display: flex;
        padding: 20px 0px 20px 0px;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 140px;
            img {
                width: 100%;
            }
        }
        .nav {
            width: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .nav-items {
                color: $primaryColor;
                a {
                    font-size: 18px;
                    text-decoration: none;
                    &.button {
                        border: none;
                        padding: 10px 20px 10px 20px;
                        border-radius: 10px;
                        background-image: $grediantColor;
                        color: $whiteColor;
                    }
                }
            }
        }
        .menu {
            display: none;
            i {
                font-size: 40px;
                background-image: $grediantColor;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

// ---for screen size 1440-------
@media only screen and (max-width:1440px) {
    header {
        .navbar {
            .logo {
                img {
                    width: 88px;
                }
            }
            .nav {
                width: 50%;
                .nav-items {
                    a {
                        font-size: 16px;
                    }
                }
                button {
                    font-size: 16px;
                }
            }
        }
    }
}

// ---for screen size 1100-------
@media only screen and (max-width:1100px) {
    header {
        .navbar {
            .nav {
                width: 55%;
            }
        }
    }
}

// ---for screen size 950-------
@media only screen and (max-width:950px) {
    header {
        .navbar {
            .nav {
                display: none;
                button {
                    padding: 8px 15px 8px 15px;
                }
            }
            .menu {
                display: contents;
            }
        }
    }
}

// ---for screen size 550-------
@media only screen and (max-width:550px) {
    header {
        .navbar {
            padding: 10px 0px 10px 0px;
            .logo {
                img {
                    width: 68px;
                }
            }
            .menu {
                display: contents;
                i {
                    font-size: 35px;
                }
            }
        }
    }
}