// -------pricing---section----------
.pricing {
    margin-top: 100px;
    h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        color: $primaryColor;
    }
    .sub-heading {
        width: 40%;
        margin: auto;
        font-size: 18px;
        text-align: center;
        color: $secondaryColor;
        margin-top: 20px;
    }
    .sub-head {
        width: 20%;
        display: flex;
        justify-content: space-between;
        margin: 50px 0px 50px 0px;
        .sub-head1 {
            h4 {
                font-size: 20px;
                background-image: $grediantColor;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: relative;
            }
            h4::before {
                content: "";
                position: absolute;
                top: 100%;
                width: 100%;
                left: 0;
                height: 3px;
                border-radius: 2px;
                background: $grediantColor;
            }
        }
        .sub-head2 {
            h4 {
                font-size: 20px;
                color: $secondaryColor;
            }
        }
    }
    .pricing-flex-container {
        display: flex;
        justify-content: space-between;
        // --container--13----
        .pricing-flex-item13 {
            width: 25%;
            padding: 50px 20px 50px 20px;
            background-color: $bgColor;
            border-radius: 20px;
            h1 {
                color: $primaryColor;
                font-size: 30px;
                text-align: center;
            }
            .para {
                display: flex;
                justify-content: center;
                .innerpara {
                    width: 80%;
                    p {
                        color: $secondaryColor;
                        font-size: 16px;
                        text-align: center;
                        margin: 50px 0px 20px 0px;
                    }
                }
            }
            hr {}
            h2 {
                margin: 50px 0px 50px 0px;
                color: $primaryColor;
                font-size: 18px;
                text-align: center;
            }
            h3 {
                text-align: center;
                font-size: 30px;
                margin: 0px 0px 50px 0px;
            }
            .list1 {
                margin: 0px 0px 10px 0px;
                display: flex;
                .tick {
                    margin-right: 20px;
                    img {}
                }
                h4 {
                    font-size: 16px;
                    color: $primaryColor;
                }
            }
            .try-now {
                text-align: center;
                a {
                    display: inline-block;
                    text-decoration: none;
                    font-weight: 500;
                    color: $whiteColor;
                    border-radius: 10px;
                    font-size: 16px;
                    line-height: 20px;
                    padding: 10px 20px 10px 20px;
                    background-image: $grediantColor;
                }
            }
        }
        // --container--2----
        .pricing-flex-item2 {
            width: 30%;
            padding: 50px 20px 50px 20px;
            background-color: $linkColor;
            border-radius: 20px;
            h1 {
                color: $whiteColor;
                font-size: 30px;
                text-align: center;
            }
            .para {
                display: flex;
                justify-content: center;
                .innerpara {
                    width: 60%;
                    p {
                        color: $whiteColor;
                        font-size: 16px;
                        text-align: center;
                        margin: 50px 0px 20px 0px;
                    }
                }
            }
            hr {}
            h2 {
                margin: 50px 0px 50px 0px;
                color: $whiteColor;
                font-size: 18px;
                text-align: center;
                font-weight: 450;
            }
            h3 {
                text-align: center;
                font-size: 30px;
                margin: 0px 0px 50px 0px;
                color: $whiteColor;
            }
            .list1 {
                margin: 0px 0px 10px 0px;
                display: flex;
                .tick {
                    margin-right: 20px;
                    img {}
                }
                h4 {
                    font-size: 16px;
                    font-weight: 450;
                    color: $whiteColor;
                }
            }
            .try-now {
                text-align: center;
                a {
                    display: inline-block;
                    text-decoration: none;
                    font-weight: 500;
                    border-radius: 10px;
                    font-size: 16px;
                    line-height: 20px;
                    padding: 10px 20px 10px 20px;
                    color: $linkColor;
                    background-color: $whiteColor;
                }
            }
        }
    }
}

// ---for screen size 1550-------
@media only screen and (max-width:1550px) {
    .pricing {
        .sub-heading {
            width: 60%;
        }
        .pricing-flex-container {
            // --container--13----
            .pricing-flex-item13 {
                .para {
                    .innerpara {
                        width: 100%;
                    }
                }
            }
            // --container--2----
            .pricing-flex-item2 {
                .para {
                    .innerpara {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// ---for screen size 1250-------
@media only screen and (max-width:1250px) {
    .pricing {
        .sub-heading {
            width: 90%;
        }
        .sub-head {
            width: 25%;
        }
        .pricing-flex-container {
            // --container--13----
            .pricing-flex-item13 {
                .para {
                    .innerpara {
                        width: 100%;
                    }
                }
            }
            // --container--2----
            .pricing-flex-item2 {
                .para {
                    .innerpara {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// ---for screen size 1050-------
@media only screen and (max-width:1050px) {
    .pricing {
        .sub-head {
            width: 30%;
        }
        .pricing-flex-container {
            flex-direction: column;
            align-items: center;
            // --container--13----
            .pricing-flex-item13 {
                width: 50%;
            }
            // --container--2----
            .pricing-flex-item2 {
                width: 60%;
                margin: 50px 0px 50px 0px;
                .para {
                    .innerpara {
                        width: 100%;
                    }
                }
            }
        }
    }
}

// ---for screen size 850-------
@media only screen and (max-width:850px) {
    .pricing {
        .sub-head {
            width: 45%;
        }
        .pricing-flex-container {
            // --container--13----
            .pricing-flex-item13 {
                width: 65%;
            }
            // --container--2----
            .pricing-flex-item2 {
                width: 70%;
                margin: 50px 0px 50px 0px;
            }
        }
    }
}

// ---for screen size 550-------
@media only screen and (max-width:550px) {
    .pricing {
        .sub-head {
            width: 65%;
        }
        .pricing-flex-container {
            // --container--13----
            .pricing-flex-item13 {
                .para {
                    .innerpara {
                        width: 100%;
                        p {
                            margin: 25px 0px 20px 0px;
                        }
                    }
                }
                h2 {
                    margin: 25px 0px 25px 0px;
                    font-weight: 450;
                }
            }
            // --container--2----
            .pricing-flex-item2 {
                .para {
                    .innerpara {
                        width: 100%;
                        p {
                            margin: 25px 0px 20px 0px;
                        }
                    }
                }
                h2 {
                    margin: 25px 0px 25px 0px;
                }
                .list1 {
                    margin: 0px 0px 10px 0px;
                }
            }
        }
    }
}

// ---for screen size 500-------
@media only screen and (max-width:500px) {
    .pricing {
        h1 {
            font-size: 35px;
        }
        .pricing-flex-container {
            // --container--13----
            .pricing-flex-item13 {
                h1 {
                    font-size: 25px;
                }
                .para {
                    .innerpara {
                        p {
                            margin: 25px 0px 20px 0px;
                        }
                    }
                }
                h2 {
                    margin: 25px 0px 25px 0px;
                }
                .try-now {
                    a {
                        border-radius: 8px;
                        font-size: 14px;
                        padding: 8px 15px 8px 15px;
                    }
                }
            }
            // --container--2----
            .pricing-flex-item2 {
                h1 {
                    font-size: 25px;
                }
                .para {
                    display: flex;
                    justify-content: center;
                    .innerpara {
                        width: 100%;
                        p {
                            margin: 25px 0px 20px 0px;
                        }
                    }
                }
                h2 {
                    margin: 25px 0px 25px 0px;
                }
            }
        }
    }
}