.two {
    background-image: url(/img/map-outsourcing.svg);
    .container2-content {
        .container {
            padding: 100px 0px 100px 0px;
            display: flex;
            justify-content: space-between;
            .flex-item1 {
                width: 50%;
                h1 {
                    font-size: 50px;
                    font-weight: 500;
                    color: $primaryColor;
                }
                p {
                    line-height: 45px;
                    font-size: 22px;
                    color: $secondaryColor;
                    margin: 45px 0px 45px 0px;
                }
                button {
                    font-size: 20px;
                    color: $whiteColor;
                    padding: 10px 20px 10px 20px;
                    border: none;
                    border-radius: 10px;
                    background-image: $grediantColor;
                }
            }
            .flex-item2 {
                width: 30%;
                .cost {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 60px;
                    gap: 80px;
                    .cost-img {
                        img {
                            width: 50px;
                        }
                    }
                    .cost-content {
                        h1 {
                            margin-bottom: 20px;
                            font-size: 22px;
                            font-weight: 500;
                        }
                        p {
                            color: $secondaryColor;
                        }
                    }
                }
            }
        }
    }
}

// ---for screen size 1550-------
@media only screen and (max-width:1550px) {
    .two {
        .container2-content {
            .flex-item1 {
                h1 {
                    font-size: 45px;
                }
                p {
                    line-height: 40px;
                }
            }
            .flex-item2 {
                .cost {
                    gap: 50px;
                }
            }
        }
    }
}

// ---for screen size 1400-------
@media only screen and (max-width:1400px) {
    .two {
        .container2-content {
            .flex-item1 {
                h1 {
                    font-size: 40px;
                }
                p {
                    line-height: 40px;
                }
            }
            .flex-item2 {
                width: 40%;
                .cost {
                    gap: 35px;
                }
            }
        }
    }
}

// ---for screen size 1050-------
@media only screen and (max-width:1050px) {
    .two {
        .container2-content {
            .flex-item1 {
                h1 {
                    font-size: 30px;
                }
                p {
                    line-height: 31px;
                    font-size: 20px;
                    margin: 30px 0px 30px 0px;
                }
            }
            .flex-item2 {
                width: 40%;
                .cost {
                    margin-bottom: 26px;
                    gap: 26px;
                    .cost-img {
                        img {
                            width: 40px;
                        }
                    }
                    .cost-content {
                        h1 {
                            margin-bottom: 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

// ---for screen size 950-------
@media only screen and (max-width:950px) {
    .two {
        .container2-content {
            .container {
                flex-direction: column;
                .flex-item1 {
                    width: 100%;
                    h1 {
                        font-size: 30px;
                    }
                    p {
                        line-height: 31px;
                        font-size: 20px;
                        margin: 30px 0px 30px 0px;
                    }
                }
                .flex-item2 {
                    width: 100%;
                    margin-top: 50px;
                    .cost {
                        margin-bottom: 26px;
                        gap: 26px;
                        .cost-img {
                            img {
                                width: 40px;
                            }
                        }
                        .cost-content {
                            h1 {
                                margin-bottom: 10px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ---for screen size 450-------
@media only screen and (max-width:450px) {
    .two {
        .container2-content {
            .flex-item1 {
                width: 100%;
                h1 {
                    font-size: 24px;
                }
                p {
                    line-height: 26px;
                    font-size: 18px;
                    margin: 30px 0px 30px 0px;
                }
                button {
                    font-size: 16px;
                    padding: 8px 15px 8px 15px;
                }
            }
            .flex-item2 {
                width: 100%;
                margin-top: 50px;
                .cost {
                    margin-bottom: 26px;
                    gap: 26px;
                    .cost-img {
                        img {
                            width: 40px;
                        }
                    }
                    .cost-content {
                        h1 {
                            margin-bottom: 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}