// -------services---container----------
.services {
    margin-top: 100px;
    h1 {
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        color: $primaryColor;
    }
    .sub-heading {
        width: 40%;
        margin: auto;
        font-size: 18px;
        text-align: center;
        color: $secondaryColor;
        margin-top: 20px;
    }
    .flex-services-container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        gap: 50px;
        margin-top: 50px;
        .flex-item {
            background-color: rgba(17, 118, 198, 0.1);
            padding: 20px;
            border-radius: 20px;
            .img {
                width: 60px;
                img {
                    width: 100%;
                }
            }
            h2 {
                font-size: 26px;
                font-weight: 450;
                color: $primaryColor;
                margin: 20px 0px 20px 0px;
            }
            p {
                font-size: 18px;
                color: $secondaryColor;
                line-height: 30px;
            }
        }
    }
}

// ---for screen size 1550-------
@media only screen and (max-width:1550px) {
    .services {
        .sub-heading {
            width: 60%;
        }
    }
}

// ---for screen size 1400-------
@media only screen and (max-width:1400px) {
    .services {
        .sub-heading {
            width: 90%;
        }
        .flex-services-container {
            .flex-item {
                .img {
                    width: 50px;
                }
                h2 {
                    font-size: 24px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

// ---for screen size 1250-------
@media only screen and (max-width:1250px) {
    .services {
        .flex-services-container {
            .flex-item {
                h2 {
                    font-size: 22px;
                    margin: 10px 0px 10px 0px;
                }
                p {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}

// ---for screen size 1050-------
@media only screen and (max-width:1050px) {
    .services {
        .flex-services-container {
            grid-template-columns: auto auto;
        }
    }
}

// ---for screen size 550-------
@media only screen and (max-width:550px) {
    .services {
        .sub-heading {
            width: 100%;
        }
        .flex-services-container {
            grid-template-columns: auto;
        }
    }
}

// ---for screen size 500-------
@media only screen and (max-width:500px) {
    .services {
        h1 {
            font-size: 35px;
        }
        .sub-heading {
            width: 100%;
        }
    }
}