// -----our story------
.our-stories {
    background-color: $bgColor;
    padding: 100px 0px 200px 0px;
    .flex-story-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .item-story-left {
            .heading-flex {
                display: flex;
                align-items: center;
                gap: 20px;
                h1 {
                    font-weight: 500;
                    font-size: 56px;
                    line-height: 71px;
                    color: $primaryColor;
                }
                img {
                    width: 80px;
                }
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #1D1C1C;
                margin-top: 300px;
                span {
                    position: relative;
                }
                span::before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    left: 0;
                    height: 2px;
                    border-radius: 2px;
                    background: $grediantColor;
                }
            }
        }
        .item-story-right {
            width: 588px;
            h2 {
                font-weight: 500;
                font-size: 22px;
                line-height: 30px;
                color: $primaryColor;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: $primaryColor;
                margin: 50px 0px 50px 0px;
            }
            .founder-flex {
                display: flex;
                gap: 20px;
                align-items: center;
                img {
                    width: 60px;
                }
                .content {
                    h3 {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: $secondaryColor;
                        margin: 0px;
                    }
                }
            }
        }
    }
}

// ----double image---------
.double-img {
    .flex-image-container {
        padding: 50px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .image-item {
            flex-basis: calc(100% / 2 - 40px);
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
    }
}

// ---for screen size 1400-------
@media only screen and (max-width:1400px) {
    // -----our story------
    .our-stories {
        .flex-story-container {
            .item-story-left {
                .heading-flex {
                    gap: 10px;
                }
            }
            .item-story-right {
                width: 588px;
            }
        }
    }
}

// ---for screen size 1270-------
@media only screen and (max-width:1270px) {
    // -----our story------
    .our-stories {
        .flex-story-container {
            .item-story-left {
                .heading-flex {
                    gap: 10px;
                    h1 {
                        font-size: 42px;
                    }
                    img {
                        width: 60px;
                    }
                }
            }
        }
    }
    // ----double image---------
    .double-img {
        .flex-image-container {
            img {
                width: 400px;
                border-radius: 20px;
            }
        }
    }
}

// ---for screen size 1080-------
@media only screen and (max-width:1080px) {
    // -----our story------
    .our-stories {
        .container {
            padding: 50px 0px 100px 0px;
            .flex-story-container {
                flex-direction: column;
                align-items: center;
                .item-story-left {
                    .heading-flex {
                        justify-content: center;
                        h1 {
                            font-size: 42px;
                        }
                        img {
                            width: 60px;
                        }
                    }
                    p {
                        text-align: center;
                        margin-top: 10px;
                    }
                }
                .item-story-right {
                    width: 100%;
                    h2 {
                        text-align: center;
                        font-size: 22px;
                    }
                    p {
                        text-align: center;
                        font-size: 16px;
                        margin: 30px 0px 30px 0px;
                    }
                    .founder-flex {
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 60px;
                        }
                        .content {
                            h3 {
                                font-size: 16px;
                                line-height: 20px;
                            }
                            p {
                                font-size: 16px;
                                line-height: 20px;
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    // ----double image---------
    .double-img {
        .flex-image-container {
            flex-direction: column;
            align-items: center;
            img {
                width: 500px;
                border-radius: 20px;
            }
        }
    }
}

// ---for screen size 650-------
@media only screen and (max-width:650px) {
    // -----our story------
    .our-stories {
        .container {
            padding: 50px 0px 70px 0px;
            .flex-story-container {
                .item-story-left {
                    .heading-flex {
                        h1 {
                            font-size: 32px;
                        }
                        img {
                            width: 50px;
                        }
                    }
                    p {
                        margin-top: 10px;
                    }
                }
                .item-story-right {
                    width: 100%;
                    h2 {
                        font-size: 20px;
                        line-height: 25px;
                    }
                    p {
                        font-size: 14px;
                        margin: 20px 0px 20px 0px;
                        line-height: 20px;
                    }
                    .founder-flex {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 40px;
                        }
                        .content {
                            h3 {
                                font-size: 14px;
                                line-height: 20px;
                            }
                            p {
                                font-size: 14px;
                                line-height: 20px;
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    // ----double image---------
    .double-img {
        .flex-image-container {
            flex-direction: column;
            align-items: center;
            img {
                width: 300px;
                border-radius: 20px;
            }
        }
    }
}