// color-------
$primaryColor:#1D1C1C;
$secondaryColor:#7C7C7C;
$bgColor:#F6F9FE;
$linkColor:#1176C6;
$whiteColor:#FFFFFF;
$grediantColor:linear-gradient(95.69deg, #04FF86 3.55%, #006CFF 67.41%);
// ---inner layout---------
.container {
    width: 80%;
    margin: auto;
}